html, body {
    margin: 5px auto;
    padding: 0;
    font-family: Carme;
    text-align: center;
}

input,
select,
button {
    cursor: pointer;
    border: 1px solid #D1D5DB;
    border-radius: 3px;
}

select, button {
    padding: 10px 15px;
}

select {
    width: 40%;
}

input {
    width: 5rem;
    height: 3rem;
}

button {
    
}

/*** TITLE AND COLOR SELECTION ***/
#title {
    margin: 0 auto;
}

.selector-container {
    margin: 1.5em;
    display: flex;
    justify-content: space-around;
}


/*** COLOR SCHEME DISPLAY ***/
.colors-container {
    display: flex;
    justify-content: space-around;
}

.color {
    height: 70vh;
}

.color-details {
    display: flex;
    flex-direction: column;
    width: 20%;
    float: right;
    font-weight: 900;
}

.color-hex-text {
    text-align: center;
}